In [1]:
import numpy as np
import pandas as pd
from network import Network

In [2]:
df = pd.read_csv("../training_data/add_numbers.csv", header=None, names=["Num1", "Num2", "Result"])

In [3]:
df

      Num1  Num2  Result
0       46     4     184
1       26    20     520
2       96    45    4320
3       68    56    3808
4        2    85     170
...    ...   ...     ...
1995    46    55    2530
1996    35    24     840
1997     9    78     702
1998    22    68    1496
1999    32    80    2560

[2000 rows x 3 columns]

In [4]:
y_train = np.array(df.pop("Result"))
X_train = np.array(df)

input_size = X_train.shape[1]

In [12]:
model = Network()
model.add_layer(2, 16, activation_function='relu')
model.add_layer(16, 1, activation_function='relu')

model.fit(X_train, y_train, learning_rate=0.000001, epochs=100, verbose=1)

Epoch 0: loss = 23782815822475.426
Epoch 10: loss = 1.499715375766855e+19
Epoch 20: loss = 4.288911770207707e+20
Epoch 30: loss = 2.6665331376806544e+21
Epoch 40: loss = 8.80813238211363e+21
Epoch 50: loss = 2.0705240749941753e+22
Epoch 60: loss = 3.925846944419188e+22
Epoch 70: loss = 6.506693100719045e+22
Epoch 80: loss = 9.7069814874853e+22
Epoch 90: loss = 1.3491247485611213e+23

In [ ]:
x = np.array([[5, 1], 
              [12,112], 
              [2, 1],
              [10, 120]])
y_pred = model.predict(x)

np.round(y_pred, decimals=2)

array([[30.05],
       [ 0.  ],
       [71.01],
       [ 0.  ]])