In [1]:
import numpy as np
import pandas as pd
from network import Network
from layer import Layer

In [2]:
df = pd.read_csv("../training_data/add_numbers.csv", header=None, names=["Num1", "Num2", "Result"])

In [3]:
df

      Num1  Num2  Result
0       46     4     184
1       26    20     520
2       96    45    4320
3       68    56    3808
4        2    85     170
...    ...   ...     ...
1995    46    55    2530
1996    35    24     840
1997     9    78     702
1998    22    68    1496
1999    32    80    2560

[2000 rows x 3 columns]

In [4]:
y_train = np.array(df.pop("Result"))
X_train = np.array(df)

input_size = X_train.shape[1]

In [5]:
model = Network()
model.add_layer(Layer(2, 16, activation_function='relu'))
model.add_layer(Layer(16, 1, activation_function='relu'))

model.fit(X_train, y_train, learning_rate=0.000001, epochs=100, verbose=1)

Epoch 0: loss = 3389749.022701804
Epoch 10: loss = 821852.6752593484
Epoch 20: loss = 662796.3401900855
Epoch 30: loss = 393866.08926569857
Epoch 40: loss = 1441068.9461926664
Epoch 50: loss = 1227178.1011435867
Epoch 60: loss = 1039096.2300427407
Epoch 70: loss = 802814.1867237687
Epoch 80: loss = 173117.8508786284
Epoch 90: loss = 160399.76372244544

In [6]:
x = np.array([[5, 1], 
              [12,112], 
              [2, 1],
              [10, 120]])
y_pred = model.predict(x)

np.round(y_pred, decimals=2)

array([[   0.  ],
       [1019.67],
       [   0.  ],
       [ 963.59]])