In [21]:
import numpy as np
import pandas as pd
from network import Network

In [22]:
df = pd.read_csv("generated_table.csv", header=None, names=["Num1", "Num2", "Result"])

In [23]:
df

     Num1  Num2  Result
0      94    83     359
1      26    97     251
2      69     3     149
3      63    79     289
4      99    28     259
..    ...   ...     ...
995    41     6      99
996     2    42      93
997    24     3      59
998    66    31     199
999     4    42      97

[1000 rows x 3 columns]

In [24]:
y_train = df.pop("Result")
X_train = np.array(df)
print(y_train.shape)
print(X_train.shape)

(1000,)
(1000, 2)

In [25]:
model = Network()
model.add_layer(4)
model.fit(X_train, y_train, activation_function='identity', learning_rate=0.3, epochs=1000)

In [26]:
x = np.array([0, 9])
model.predict(x)

array([nan])