In [1]:
import numpy as np
import pandas as pd
from network_jan import Network

In [2]:
df = pd.read_csv("../training_data/add_numbers.csv", header=None, names=["Num1", "Num2", "Result"])

In [3]:
df

       Num1  Num2  Result
0        20    94     114
1        88    59     147
2        73    93     166
3        56    81     137
4        56    35      91
...     ...   ...     ...
19995    36    87     123
19996    55    86     141
19997    87    90     177
19998    42    11      53
19999    86    55     141

[20000 rows x 3 columns]

In [4]:
y_train = df.pop("Result")
X_train = np.array(df)
print(y_train.shape)
print(X_train.shape)

(20000,)
(20000, 2)

In [11]:
model = Network()
model.add_layer(2)
#model.add_layer(2)
model.add_layer(1)
model.fit(X_train, y_train, activation_function='logistic', learning_rate=0.3, epochs=100)

In [13]:
x = np.array([91, 990])
model.predict(x)

array([-683.0667973])